<div class="row" style="background-color:darkorchid; height: 50px; padding-bottom: 20px;">
    <ul class="navbar-nav mr-auto row" >
        <li class="nav-item" style="margin-left: 40px; margin-top: 10px;">
            <a href="#/dashboard/dashboard1">
                <img src="assets/images/users/iccon.png" alt="user" class="rounded-circle" width="31" style="padding-right: 5px;">
                <img src="assets/images/users/text.png" style="margin-top: 3px;">      
            </a>
                
        </li>    
    </ul>
        <div class="row" style="margin-top: 6px; padding-left: 50px;">
            <div>
                <button type="button" routerLink="/authentication/login" class="btn btn-rounded btn-outline-primary">Login</button>
            <!-- <a class="nav-link waves-light"  mdbWavesEffect href="#/dashboard/dashboard3">Login<span class="sr-only">(current)</span></a> -->
            </div>
            <div>
                <button type="button" routerLink="/authentication/signup" class="btn btn-rounded btn-outline-primary">SignUp</button>
            <!-- <a class="nav-link waves-light" mdbWavesEffect href="#/dashboard/dashboard3">SignUp<span class="sr-only">(current)</span></a> -->
            </div>
    </div>
</div>
    <div style="background-image: url('/assets/images/395434.jpg');">
        <h1 style="padding: 30px; color: blue;">WELCOME TO BITCOINERS.COM</h1>
        <h2 style="padding: 30px; color: blue;">Invest in the future of Currency</h2>
        <p style="padding: 30px; color:bisque">Blockchain and transformational technologies such as IoT, Chatbots, Virtual and Augmented Realities are prominently featured on the agenda at Oracle OpenWorld Middle East in Dubai.  For Oracle customers and partners, this is an opportunity to hear real-world case studies and learn about Oracle's products from experts. Attendees have the opportunity to view exhibits in the tradeshow area and attend as many sessions as they would like.

            Ashish Mohindroo, VP of Oracle Cloud Marketing returns to the stage in Dubabi for this year's event.  Ashish will be keynoting The Next Big Things session again at Oracle Open World in Dubai next week. He will be sharing the stage with Anil Kumar Gupta, Sr. General Manager (IT Services), IFFCO Ltd. </p>
    <p style="padding: 30px; color:bisque">
        Everywhere you look, disruptive technologies are reshaping the future of finance. From robotic process automation (RPA) and artificial intelligence (AI) to machine learning and blockchain – new digital tools are offering CFOs unprecedented opportunities to streamline and automate back-office operations.

AI and machine learning, for example, can analyze massive amounts of data, finding patterns that a human would never see and distributing data-driven insights throughout the organization. Process automation and touchless transactions can automate mundane tasks, freeing up the time and brainpower of every finance team member. Rather than spending the majority of their time on traditional responsibilities like internal controls, compliance, and closing the books, finance leaders can focus on uncovering new insights and opportunities to help drive top-line growth.

Now more than ever, finance is equipped to become a true strategic partner to the business, supporting decision makers with precise, real time reporting, planning, budgeting and forecasting. With digital technology, the close is no longer a monthly event—it now has the potential to happen every day. And finance can drive innovation by establishing a culture of data, insights, and foresight.
    </p>

 </div>
